<div class="about">
    <div class="a-1">
        <h1 class="animate__animated animate__fadeInDown ">Who I am</h1>
        <span class="animate__animated animate__fadeInLeft ">Hi there! My name is Miguel Romero Martin,
            a junior software
            developer based in <b>Granada</b>, Spain. At
            23 years old, I am passionate about creating <b>innovative solutions</b> and constantly expanding my
            knowledge in the world of software development.</span>
        <span class="animate__animated animate__fadeInLeft ">What sets me apart is my <b>ambition and
                perseverance</b>. I
            firmly believe that with dedication and a
            growth mindset, there are no limits to what can be achieved. This mindset fuels my continuous improvement
            and drives me to tackle <b>challenges head-on</b></span>
    </div>
    <div class="a-2">
        <div class="bhnd">
            <h1 class="animate__animated animate__fadeInDown ">Behind the code</h1>
            <span class="animate__animated animate__fadeInRight">I have been interested in software
                development since I
                was a child and nowadays I continue with that
                same <b>interest</b>, acquiring knowledge day by day. I consider myself an <b>empathetic, proactive,
                    versatile
                    person</b> eager to learn, I handle frontend and backend technologies. Accustomed to working in a
                <b>team and in high-pressure</b> situations.</span>
        </div>
        <div class="sm animate__animated animate__zoomIn">
            <ul>
                <li><a href="https://github.com/Protoox" target="_blank"><i class="fi fi-brands-github"></i>GitHub</a>
                </li>
                <li><a href="https://www.linkedin.com/in/miguel-romero-mart%C3%ADn-aa7880241/"
                        target="_blank">LinkedIn<i class="fi fi-brands-linkedin"></i></a></li>
                <li><a href="mailto: migue.rm52@gmail.com"><i class="fi fi-sr-envelope"></i>Gmail</a></li>

            </ul>



        </div>
        <div class="ph animate__animated animate__fadeInUp">
            <span>"I thrive on challenges, embracing them as opportunities for growth and innovation in the
                ever-evolving world of software development."</span>
        </div>
    </div>
</div>