<div class="projects">
    <div class="pr-c animate__animated animate__zoomIn">
        <div class="pt"><span>My portfolio</span></div>
        <div class="pd"><span> My first project is an exciting personal portfolio that I have developed
                using a
                combination of cutting-edge technologies. On the frontend, I have utilized <b>Angular</b>. As for the
                backend, I have chosen to use <b>Spring</b>. With Spring, I have built a customized API that serves as
                an
                intermediary
                between the frontend and a MySQL database. This <b>API</b> handles incoming requests,
                performs
                the necessary
                database queries, and sends the corresponding responses back to the frontend. I leverage this API to
                extract data related to my skills, experience, and other relevant information for showcasing in my
                portfolio. <a href="http://143.47.53.166:8080/api/v1/skill" target="_blank"><b>Check the
                        API</b></a></span></div>
    </div>
</div>